[global]
; CherryPy server config
server.socket_host: '0.0.0.0'
server.socket_port: 9091

; URL of the CKAN server
ckan.url: ''

; URL of the JSONAPI Facade service
jsonapi.url: ''

; Auth config
auth.authorization_url: ''
auth.token_url: ''
auth.client_id: ''
auth.client_secret: ''
auth.scopes: ['openid', 'SAEON.CKAN.API']
auth.insecure_transport: False
